---
x-build: &build
  context: .
  target: dev

x-volume_driver: &prisma-volume
  type: bind
  source: prisma-orm
  target: /usr/app/prisma-orm
  read_only: true

name: ossi-api

services:
  api-gateway:
    build: *build
    ports:
      - 9230:9229
    volumes:
      - ./api-gateway/src/:/usr/app/api-gateway/src:ro

  auth-api:
    build: *build
    ports:
      - 9231:9229
    volumes:
      - ./auth-api/src/:/usr/app/auth-api/src:ro
    depends_on:
      db-migrations:
        condition: service_completed_successfully

  messaging-server:
    build: *build
    ports:
      - 9232:9229
    volumes:
      - ./messaging-server/src/:/usr/app/messaging-server/src:ro
    depends_on:
      db-migrations:
        condition: service_completed_successfully

  notification-server:
    build: *build
    ports:
      - 9233:9229
    volumes:
      - ./notification-server/src/:/usr/app/notification-server/src:ro

  student-management-api:
    build: *build
    ports:
      - 9234:9229
    volumes:
      - ./student-management-api/src/:/usr/app/student-management-api/src:ro
      - ./student-management-api/test/:/usr/app/student-management-api/test:ro
    depends_on:
      db-migrations:
        condition: service_completed_successfully

  db-migrations:
    extends:
      file: common-services.yml
      service: prisma
    build: *build

  prisma-studio:
    extends:
      service: db-migrations
    environment:
      - DATABASE_URL=${DATABASE_URL}
    ports:
      - 5555:5555
    command: ["npm", "--workspace", "prisma-orm", "run", "studio"]
