---
services:
  api:
    build:
      target: dev
    ports:
      - 9230:9229
    volumes:
      - ./api-gateway/src:/usr/server/src:ro

  authapi:
    build:
      target: dev
    ports:
      - 9231:9229
    volumes:
      - ./auth-api/src:/usr/server/src:ro

  messagingserver:
    build:
      target: dev
    ports:
      - 9232:9229
    volumes:
      - ./messaging-server/src:/usr/server/src:ro

  notificationserver:
    build:
      target: dev
    ports:
      - 9233:9229
    volumes:
      - ./notification-server/src:/usr/server/src:ro
