services:
  api:
    build:
      context: ./api-gateway
    ports:
      - "3000:3000"
    env_file: ".env"
    depends_on:
      - messagingserver
      - studentmanagementapi
      - notificationserver
      - authapi
    networks:
      - app-network
  authapi:
    build:
      context: ./auth-api
    env_file: ".env"
    networks:
      - app-network
    depends_on:
      - db
  studentmanagementapi:
    build:
      context: ./student-management-api
      additional_contexts:
        sequelize-models: ./sequelize-models
    env_file: ".env"
    networks:
      - app-network
    depends_on:
      - db
  notificationserver:
    ports:
      - "3001:3000"
    build:
      context: ./notification-server
    env_file: ".env"
    networks:
      - app-network
    depends_on:
      - mongo
  messagingserver:
    build:
      context: ./messaging-server
    ports:
      - "3002:3000"
    environment:
      - PORT=3000
    env_file: ".env"
    networks:
      - app-network
    depends_on:
      - mongo
      - redis
  db:
    image: docker.io/postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network
  mongo:
    image: docker.io/mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

    #environment:
    #  MONGO_INITDB_ROOT_USERNAME: root
    #  MONGO_INITDB_ROOT_PASSWORD: mongo
  pgadmin:
    restart: always
    image: docker.io/dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: pg@localhost.fi
      PGADMIN_DEFAULT_PASSWORD: postgres
      PGADMIN_LISTEN_ADDRESS: 0.0.0.0
    ports:
      - "5433:80"
    networks:
      - app-network
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db-data:
  mongo-data:
